@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');


        *{
            margin: 0px;
            padding: 0px;
            font-family: 'Audiowide', sans-serif;

        }

        img{
            width: 100vw;
        

        }

        ::-webkit-scrollbar{
            width: 0px;
            height: 0px;
        }

        a{
            display: block;
            background-color: darkred;
            padding: 20px;
            text-align: center;
            font-size: 22px;
            text-decoration: none;
            margin: -4.6px;
            color: white;
            margin: -5%;
        }