@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}

html, body{
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body{
    background: url('./imagens/fundo-tela.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top center;
}
main{
    position: relative;
    height: 100vh;
}

section#telefone{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 700px;
    width: 467px;
    background: url('./imagens/fundo-iphoneborda.png');
    background-repeat: no repeat;
}