@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}

html, body{
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body{
    background: url('./imagens/fundo-tela.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top center;
}
main{
    position: relative;
    height: 100vh;
}

section#telefone{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 700px;
    width: 467px;
    background: url('./imagens/fundo-iphoneborda.png');
    background-repeat: no repeat;
}

iframe#tela{
    position: relative;
    top: 12.3%;
    left: 24.1%;
    border-radius: 38px;
    width: 241px;
    height: 531.2px;
}

section#icones {
    background-color: rgba(0, 0, 0, 0.616);
    border-radius: 30px;
    position: absolute;
    text-align: center;
    top: 15%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 230px;
    padding: 5px 0px;
    margin: 0px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.726);
}

section#icones a:hover{
    padding: 2px;
    transition: 0.15s;
}