@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(../imagens/fundo-table.jpg);
    margin: auto;
    background-size: cover;
}

div > img{
    margin: auto;
    max-height: 680px;
    width: 480px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.img-responsiva{
    max-width: 100%;
    height: auto;
}

div.img-link{  
    background: rgba(0, 0, 0, 0.507);
    width: 280px;
    padding: 7px 2px;
    position: absolute;
    top: 78%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    text-align: center;
}

div.img-link a:hover {
    background-color: transparent;
    padding: 3px;
}



